$--color-primary: #fc7404;

// Navbar
$navbar--background-color: $--color-primary;
// breadcrumb
$breadcrumb--color-text-dark: $--color-primary; // #be96cb;

//container
$container--width-sidebar: 200px;
$container--background-color: $--color-primary;
// Sidebar
$sidebar--background-color-dark: transparent;
$sidebar--color-text-dark: $--color-primary;

// Content
$content--background-color: #f1f4f5;